DATABASE_URL=Server=mssql;Database=LosaGame;User Id=sa;Password=abcsad

DB_GAME_HOST=""
DB_GAME_PORT=""
DB_GAME_USER=""
DB_GAME_PASSWORD=""
DB_LOG_HOST=""
DB_LOG_PORT=""
DB_LOG_USER=""
DB_LOG_PASSWORD=""

SESSION_SECRET=87C1287FA09DE5446D9E2E468EFAD3174DB5E86EAD635DCFEB40ED9876F72FC1
NEXT_PUBLIC_ADSENSE_CLIENT="ca-pub-XXXXXXXXXXXXXXXX"

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
OAUTH_BASE_URL="http://localhost:3000"
